.demo{
    width: 100%;
    margin: 50px;

    &__title{
        font-size: 28px;
        font-weight: 600;
        color: $colour-title;
        padding: 10px;
    }


}

@include mobile{
    .demo{
        width: auto;
        text-align: center;
    }
}