.absorption__title{
    &-1{
        letter-spacing: 3px;
        font-size: 14px;
        color: $colour-title;
    }

    &-2{
        font-size: 28px;
        font-weight: 600;
        color: $colour-title;
    }
}