.grid__title{
    padding: 50px;
    display: flex;

    &-1{
        color: $colour-white;
        font-size: 14px;

    }

    &-2{
        color: $colour-white;
        font-size: 28px;
    }

    &-3{
        color: $colour-white;
        font-size: 14px;
        padding-left: 200px;
        padding-top: 10px;
    }
}

@include mobile{
    .grid__title{
        display: flex;
        flex-direction: column;

        &-1{
            display: flex;
            flex-direction: column;
        }

        &-3{
            padding: 0;
        }
    }


}