.hero__txt{
    position: absolute;
    top: 100px;
    padding-left: 30px;

    &-1{
        font-size: 38px;
        font-weight: 600;
        color: #ffffff;
    }

    &-2{
        width: 769px;
        color: #ffffff;
        font-size: 14px;
    }
}

@include mobile{
    .hero__txt-2{
        width: 300px;
        font-size: 9px;
    }
}